@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: auto;
  background-image: url("./image/AI-image -OpenAI.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80vw;
}

.container {
  width: 1440px;
  height: 1024px;
  background: linear-gradient(to right, #09212c 35%, transparent 50%);
}

.main-content {
  display: flex;
  margin-bottom: 80px;
}
.main-content div {
  margin: 190px 64px 0;
  padding: 40px 56px;
  height: 518px;
  width: 724px;
  min-width: 360px;
  background: linear-gradient(
    124.42deg,
    rgba(0, 0, 0, 0.36) 5.12%,
    rgba(0, 0, 0, 0.0675) 102.99%
  );
  backdrop-filter: blur(4px);
}
span {
  width: 80px;
  height: 16px;
}
.main-content h1 {
  margin-bottom: 40px;
}
.main-content p {
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 40px;
}
.list {
  display: flex;
  justify-content: center;
  padding: 24px 56px;
  width: 100%;
  height: auto;
}
